{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container form-page-thanks">
        <div class="row">
            <div class="col-md-12">
                <h1 class="index-header__title">{{ page.title }}</h1>
            </div>
            <div class="col-md-7 index-header__body-introduction" >
                {{ page.thank_you_text|richtext }}
            </div>
        </div>
        <div>
            <a href="/" class="button btn btn-primary btn-lg">完成</a>
        </div>
    </div>
{% endblock content %}
