{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
    <head>
        <title>Mood Tracker</title>
        <style>
            .container {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                max-width: 1000px;
                width: 100%;
            }
        </style>
    </head>
    {% if not user.is_superuser %}
        <div class="container">
                <span class="content_student">
                    <div class="tile_student jvweUh_student"
                         style="background: none;box-shadow: none;border: none;display: grid;grid-template-columns: repeat(4, 1fr);row-gap: 16px;justify-items: center;margin-bottom: 24px;padding: 8px 0px;">
                        <div class="navigation__items nav-pills"
                             style="text-align: center;list-style-position: inside;">
                            <li class="presentation">
                                <a class="hRVWvh_student" href="/wellness">
                                    <img src="{% static "img/wellness.3fb9e660.svg" %}" alt="Wellness" width="53"
                                         height="52">
                                    <div class="cBlAKR_student">每日心理</div>
                                </a>
                            </li>
                        </div>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                            <li class="presentation">
                                <a class="hRVWvh_student" href="/mood_check_history/">
                                    <img src="{% static "img/location.1602c877.svg" %}" alt="Mood_Check_History"
                                         width="53"
                                         height="52">
                                    <div class="cBlAKR_student">历史记录</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                             <li class="presentation">
                                <a class="hRVWvh_student" href="/myclass/">
                                    <img src="{% static "img/pass.a220f0e2.svg" %}" alt="My_Class" width="53"
                                         height="52">
                                    <div class="cBlAKR_student">我的班级</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                             <li class="presentation">
                                <a class="hRVWvh_student" href="/counseling/">
                                    <img src="{% static "img/form.236887bc.svg" %}" alt="Counseling" width="53"
                                         height="52">
                                    <div class="cBlAKR_student">心理咨询</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid hero">
                        {% image page.image fill-1920x600 class="hero-image" alt="" %}
                        <div class="hero-gradient-mask"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                                    <h1>{{ page.title }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        {% else %}
             <div class="container">
                <span class="content_student">
                    <div class="tile_student jvweUh_student"
                         style="background: none;box-shadow: none;border: none;display: grid;grid-template-columns: repeat(4, 1fr);row-gap: 16px;justify-items: center;margin-bottom: 24px;padding: 8px 0px;">
                        <div class="navigation__items nav-pills"
                             style="text-align: center;list-style-position: inside;">
                            <li class="presentation">
                                <a class="hRVWvh_student" href="/advice">
                                    <img src="{% static "img/nurture.76f11381.svg" %}" alt="Wellness" width="53"
                                         height="52">
                                    <div class="cBlAKR_student">心理辅导</div>
                                </a>
                            </li>
                        </div>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                            <li class="presentation">
                                <a class="hRVWvh_student" href="/mood_check_management/">
                                    <img src="{% static "img/supervise.555232ce.svg" %}" alt="Mood_Check_History"
                                         width="64"
                                         height="64">
                                    <div class="cBlAKR_student">辅导记录</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                             <li class="presentation">
                                <a class="hRVWvh_student" href="/myclass_manager/">
                                    <img src="{% static "img/unify.f566051d.svg" %}" alt="My_Class" width="64"
                                         height="64">
                                    <div class="cBlAKR_student">班级信息</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="navigation__items nav-pills" style="text-align: center;list-style-position: inside;">
                             <li class="presentation">
                                <a class="hRVWvh_student" href="/counseling_record/">
                                    <img src="{% static "img/coordinate.9da69daa.svg" %}" alt="Counseling" width="64"
                                         height="64">
                                    <div class="cBlAKR_student">咨询记录</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid hero">
                        {% image page.image fill-1920x600 class="hero-image" alt="" %}
                        <div class="hero-gradient-mask"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                                    <h1>{{ page.title }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        {% endif %}
    {% else %}
        <div class="homepage">
            <div class="container-fluid hero">
                {% image page.image fill-1920x600 class="hero-image" alt="" %}
                <div class="hero-gradient-mask"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1 col-lg-5 home-hero">
                            <h1>{{ page.title }}</h1>
                            <p class="lead">{{ page.hero_text }}</p>
                            {% if page.hero_cta_link %}
                                <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link">
                                    {{ page.hero_cta }}
                                </a>
                            {% else %}
                                {{ page.hero_cta }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row promo-row">
                    <div class="featured-cards col-sm-5 col-sm-offset-1">
                        {% if page.featured_section_1 %}
                            <h2 class="featured-cards__title">{{ page.featured_section_1_title }}</h2>
                            <ul class="featured-cards__list">
                                {% for childpage in page.featured_section_1.specific.children|slice:"3" %}
                                    <li>
                                        {% include "includes/card/listing-card.html" with page=childpage %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a class="featured-cards__link" href="/breads">
                                <span>View more of our breads</span>
                                {% include "includes/chevron-icon.html" with class="featured-cards__chevron-icon" %}
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-sm-6 promo">
                        {% if page.promo_image or page.promo_title or page.promo_text %}
                            <div class="col-lg-10 promo-text">
                                {% if page.promo_title %}
                                    <h2>{{ page.promo_title }}</h2>
                                {% endif %}
                                {% if page.promo_text %}
                                    {{ page.promo_text|richtext }}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if page.promo_image %}
                            <figure>{% image page.promo_image fill-590x413-c100 %}</figure>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if page.body %}
                <div class="container-fluid streamfield">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 streamfield-column">
                            {{ page.body }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12 locations-section">
                        {% if page.featured_section_2 %}
                            <h2 class="locations-section__title">{{ page.featured_section_2_title }}</h2>
                            {% for childpage in page.featured_section_2.specific.children|slice:"3" %}
                                {% include "includes/card/location-card.html" with page=childpage %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if page.featured_section_3 %}
                <div class="blog-section__background">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 blog-section">
                                <h2 class="blog-section__title">{{ page.featured_section_3_title }}</h2>
                                <div class="blog-section__grid">
                                    {% for childpage in page.featured_section_3.specific.children|slice:"6" %}
                                        {% include "includes/card/picture-card.html" with page=childpage portrait=True %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
