@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/opensans-normal-greek.woff2') format('woff2');
  /* src: url('../fonts/SourceHanSerifCN/SourceHanSerifCN-Regular-1.otf'); */
  /* src: url('../fonts/Marcellus-Regular.woff2') format('woff2'); */
}
